body {
    font-family: sans-serif;
}

div#content {
    background-color: rgb(200, 200, 200);
    padding: 20px 15px;
}

#content > h2 {
    background-color: #4c5450;
    padding: 15px;
    color: white;
}

#content > h3 {
    background-color: #60d0a8;
    padding: 15px;
    color: white;
}

#content > p {
    background-color: hsl(56, 62%, 85%);
    padding: 20px;
}